@page "/cart"
@inject IJSRuntime Js


<PageTitle>Cart</PageTitle>

<h1>Cart</h1>

@if (CartId is not null)
{
    <h2>@CartId</h2>
}

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string? cart = null;
    private string? cartToken = null;
    
    public string? CartId { get; set; }
    public string? CartToken { get; set; }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            CartId = await Js.InvokeAsync<string>("getCookie", "cart");
            CartToken = await Js.InvokeAsync<string>("getCookie", "cart_token");
            
        }
        
        StateHasChanged();
    }

    private void IncrementCount()
    {
        currentCount++;
    }

}