@page "/"
@implements IObserver;

<PageTitle>Home</PageTitle>

<h1>@shopDetails</h1>

@code {
    private string shopDetails = "Loading...";
    
    // initial page load should have the observer subscribe to the observable
    // then it triggers the API request to populate data
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            Startup();
        }
        
        SfapiSubject.GetInstance().GetShopInfo();
    }
    
    public void Update(string shopInfo)
    {
        Console.WriteLine($"UPDATES: {shopInfo}");
        shopDetails = shopInfo;
        StateHasChanged();
    }
    
    private void Startup()
    {
        SfapiSubject.GetInstance().RegisterObserver(this);
    }
}