@page "/"
@implements IObserver;
@implements IDisposable;


<PageTitle>Home</PageTitle>

<h1>@shopName</h1>

<h2>@shopDescription</h2>

@code {
    private string? shopName = "Loading...";
    private string? shopDescription = "";
    
    // initial page load should have the observer subscribe to the observable
    // then it triggers the API request to populate data
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Startup();
        }
    }
    
    public void Update(JObject shopInfo)
    {
        InvokeAsync(() =>
        {
            try
            {
                var shop = shopInfo["shop"];
                shopName = shop["name"]?.ToString();
                shopDescription = shop["brand"]?["shortDescription"]?.ToString();
                StateHasChanged();
            }
            catch (Exception e)
            {
                Console.WriteLine($"UPDATE ERROR: {e.Message}");
            }
        });
    }

    
    private async void Startup()
    {
        SfapiSubject.GetInstance().RegisterObserver(this);
        await SfapiSubject.GetInstance().GetShopInfo();
    }
    
    public void Dispose()
    {
        try
        {
            Console.WriteLine("DISPOSING HOME COMPONENT");
            SfapiSubject.GetInstance().UnregisterObserver(this);
        }
        catch (Exception e)
        {
            Console.WriteLine($"DISPOSE ERROR: {e.Message}");
        }
    }
}